<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="bg-black pa4 white">
    <header class="f2 heading">
      <a class="link pr4 white" href="/">{d:m}</a>
      {% assign url = page.url | remove:'.html' %}
      {% for link in site.navigation %}
      <a
        class="link pr3 white{% if url == link.url %} active{% endif %}"
        href="{{ link.url }}">{{ link.label }}
      </a>
      {% endfor %}
    </header>
    <section class="secondary">
	{{ content}}
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
	</section>
  </body>
</html>
